.overlay-mobile-nav {
  display: none;
  animation: overlay-toggle-out 0.4s var(--cubic-bezier-default) forwards;
}
.overlay-mobile-nav.active {
  top: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  padding: 60px;
  width: 400px;
  background: var(--color-bg);
  transform: translateX(300%);
  animation: overlay-toggle-in 0.4s var(--cubic-bezier-default) forwards;
  z-index: 30;
}
.overlay-mobile-nav a {
  font-weight: 400;
  font-size: 30px;
  color: var(--color-nav-link);
}
.overlay-mobile-nav br {
  margin: 50px;
}
.overlay-mobile-nav .overlay-column {
  display: flex;
  flex-direction: column;
  padding: 60px;
}
.overlay-mobile-nav nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 15px;
}
.overlay-mobile-nav nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 90%;
}
.overlay-mobile-nav nav a img {
  transition: all 0.2s var(--cubic-bezier-default);
}
.overlay-mobile-nav nav a:hover img {
  position: relative;
  transform: translateX(5px);
  transition: all 0.2s cubic-bezier(0.46, 0, 0, 1.17);
}
.overlay-mobile-nav .overlay-mobile__contacts a:nth-child(1), .overlay-mobile-nav .overlay-mobile__contacts a:nth-child(2) {
  margin-top: 10px;
  text-decoration: underline;
}
.overlay-mobile-nav .overlay-mobile__contacts h2 {
  position: relative;
  margin-top: 25px;
  color: var(--color-text-title);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
.overlay-mobile-nav .overlay-mobile__contacts h2::before {
  display: none;
}
.overlay-mobile-nav .burger__overlay {
  width: 60px;
  left: unset;
  right: 60px;
  top: 60px;
}

.overlay-active {
  filter: blur(10px);
}

@keyframes overlay-toggle-in {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes overlay-toggle-out {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(300%);
  }
}
@media (max-width: 1440px) {
  :root {
    --size-links: 28px;
    --size-logo: 36px;
    --size-h1: 70px;
  }
  header,
  main,
  footer {
    width: 1000px;
    max-width: 1000px;
  }
  button {
    font-size: var(--size-links);
  }
  header .header__nav nav a {
    font-size: var(--size-links);
  }
  header::before {
    content: "";
    position: absolute;
    left: 0;
    border: 1px solid var(--color-text-title);
    transform: rotate(0.41deg);
    right: 0;
  }
  header::after {
    content: "";
    position: absolute;
    border: 1px solid var(--color-text-title);
    bottom: -600px;
    transform: rotate(0.41deg);
    left: 160px;
  }
  .header__logo h1 span,
  .footer__logo h1 span {
    font-size: var(--size-logo);
  }
  .header__logo h1 span:first-child small,
  .footer__logo h1 span:first-child small {
    font-size: var(--size-logo);
  }
  .header__toogle .toggle__elipsed {
    position: relative;
    width: 68px;
  }
  .header__toogle .toggle__elipsed .elipse-1,
  .header__toogle .toggle__elipsed .elipse-2 {
    box-sizing: border-box;
    position: absolute;
    width: 51px;
    height: 42px;
  }
  main .content h1 {
    font-size: var(--size-h1);
    line-height: 90px;
  }
  main .content h2,
  main .content .p-descr {
    font-size: var(--size-links);
    line-height: auto;
  }
  .content__main .main__title h1 {
    font-size: var(--size-h1);
    line-height: 90px;
  }
  .content__about::before,
  .content__services::before,
  .content__cases::before,
  .content__contacts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--color-text-title);
    right: 0;
  }
  .about__links a,
  .services__links a {
    font-size: var(--size-links);
  }
}
@media (max-width: 1000px) {
  :root {
    --size-links: 24px;
    --size-logo: 32px;
    --size-h1: 55px;
    --size-h2: 32px;
  }
  body {
    overflow-x: hidden;
  }
  header,
  main,
  footer {
    width: 800px;
    max-width: 800px;
  }
  header .header__nav {
    display: none;
  }
  header .header__toogle {
    margin-left: auto;
  }
  header::after {
    left: 130px;
  }
  footer a {
    font-size: var(--size-links);
  }
  footer .footer__contacts h2 {
    font-size: var(--size-links);
  }
  .header__toogle .toggle__elipsed {
    position: relative;
    width: 68px;
  }
  .header__toogle .toggle__elipsed .elipse-1,
  .header__toogle .toggle__elipsed .elipse-2 {
    box-sizing: border-box;
    position: absolute;
    width: 51px;
    height: 42px;
  }
  .overlay-mobile-nav a {
    font-size: var(--size-links);
  }
  .overlay-mobile-nav nav a img {
    transform: scale(0.8);
  }
  .overlay-mobile-nav nav a:hover img {
    transform: translateX(3px) scale(0.8);
  }
  .overlay-mobile-nav .overlay-mobile__contacts h2 {
    margin-top: 25px;
    font-size: var(--size-links);
  }
  main .content h1 {
    font-size: var(--size-h1);
    line-height: 82px;
  }
  main .content h2,
  main .content .p-descr {
    font-size: var(--size-links);
    line-height: auto;
  }
  .content__main .main__title {
    margin-left: 180px;
  }
  .content__main .main__title h1 {
    font-size: var(--size-h1);
    line-height: 82px;
  }
  .content__main .main__contact-to-us .contact-to-us__icon {
    transform: translateY(-100%) scale(0.8);
  }
  .content__about::before,
  .content__services::before,
  .content__cases::before,
  .content__contacts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--color-text-title);
    right: 0;
  }
  .about__links a,
  .services__links a {
    font-size: var(--size-links);
  }
  .img-group,
  .img-solo {
    height: 180px;
    width: 380px;
  }
  .img-group .img-box .img,
  .img-group .img-box .img,
  .img-solo .img-box .img,
  .img-solo .img-box .img {
    height: 180px;
  }
  .content__contacts .contacts__contact-me h2 {
    font-size: var(--size-h2);
  }
  .overlay-mobile-nav.active {
    padding: 40px;
    width: 350px;
  }
  .burger__overlay.active {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 40px;
    top: 40px;
  }
  .burger__overlay.active span::after {
    height: 4px;
  }
}
@media (max-width: 850px) {
  :root {
    --size-links: 18px;
    --size-logo: 27px;
    --size-h1: 40px;
    --size-h2: 27px;
  }
  header,
  main,
  footer {
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
  button {
    padding: 10px;
  }
  main .content h1 {
    font-size: var(--size-h1);
    line-height: 52px;
  }
  main .content h2,
  main .content .p-descr {
    font-size: var(--size-links);
    line-height: auto;
  }
  .content__main .main__title {
    margin-left: 140px;
  }
  .content__main .main__title h1 {
    font-size: var(--size-h1);
    line-height: 62px;
  }
  .content__main .main__contact-to-us .contact-to-us__icon {
    transform: translateY(-100%) scale(0.8);
  }
  .img-group,
  .img-solo {
    width: 280px;
  }
  .img-group .img-box .img,
  .img-solo .img-box .img {
    height: 150px;
  }
}
@media (max-width: 630px) {
  .content__services .services__column:first-child {
    width: 40%;
  }
  .content__services .services__column:last-child {
    width: 60%;
  }
  .modal-formcontact-wrap {
    width: calc(100% - 40px);
  }
  .modal-formcontact-wrap .modal-formcontact--event-close {
    width: 28px;
    height: 28px;
    left: calc(100% - 15px);
    top: -5px;
  }
  .modal-formcontact-wrap .modal-formcontact-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .modal-formcontact-wrap .modal-formcontact-descr {
    font-size: 16px;
  }
  .modal-formcontact-wrap .modal-formcontact-form {
    margin-top: 15px;
    gap: 15px;
  }
  .modal-formcontact-wrap .modal-formcontact-form input {
    border: 1px solid #000000;
    padding: 6px;
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  header::after {
    bottom: -400px;
    transform: rotate(0.41deg);
    left: 110px;
  }
  .content {
    box-sizing: border-box;
  }
  .content .content__main {
    margin-left: 100px;
  }
  .content__main .main__contact-to-us .contact-to-us__icon {
    transform: translateY(-100%) translateX(-20%) scale(0.6);
  }
  .content__about {
    flex-direction: column;
  }
  .content__about .about__column {
    width: 100%;
  }
  .content__about .about__column:first-child .column__row {
    padding-left: 0;
    padding-right: 0;
  }
  .content__about .about__column:first-child::before {
    display: none;
  }
  .content__about .about__column:last-child {
    margin-top: 0px;
  }
  .content__about .about__column:last-child .column__row {
    padding-left: 0;
    padding-right: 0;
  }
  .content__about .about__column:last-child .column__row:first-child {
    margin-top: 20px;
  }
  .content__about .about__column:last-child .column__row:last-child {
    margin-top: 20px;
  }
  .content__services .services__table {
    flex-direction: column;
  }
  .content__services .services__column:first-child .column__row {
    padding-right: 60px;
    border-bottom: none;
  }
  .content__services .services__column:first-child .column__row:last-child {
    display: none;
  }
  .content__services .services__column:first-child:before {
    display: none;
  }
  .content__services .services__column:last-child {
    margin-top: 0px;
    width: 100%;
  }
  .content__services .services__column:last-child .column__row:first-child {
    margin-top: 0px;
    display: none;
  }
  .content__services .services__column:last-child .column__row:last-child {
    padding-left: 0;
    padding-right: 0;
  }
  .content__services .services__choice {
    margin-left: -45px;
    width: calc(100% + 40px);
  }
  .content__services .services__choice .choice__row {
    display: flex;
    flex-direction: column;
  }
  .content__services .services__choice .choice__row .choice__column {
    width: 100%;
  }
  .content__services .services__choice p {
    font-size: 16px;
  }
  .content__cases .caces__row {
    margin: 20px 0px;
  }
  .content__cases .caces__row::before {
    top: -10px;
  }
  .works-example .caces__row {
    width: 100%;
    flex-direction: column-reverse;
  }
  .works-example .caces__row .caces__work-view {
    width: 100%;
  }
  .content__contacts .contacts__contact-me {
    width: 100%;
    margin: auto;
  }
  .content__contacts .contacts__contact-me button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer {
    box-sizing: border-box;
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  footer a {
    opacity: 0.6;
  }
  footer .footer__nav {
    order: 1;
  }
  footer .footer__nav nav a {
    opacity: 1;
  }
  footer .footer__logo {
    order: 3;
    width: 100%;
  }
  footer .footer__contacts {
    order: 2;
  }
  footer .footer__contacts a:nth-child(1) {
    margin-right: 6px;
  }
  footer .footer__contacts a:nth-child(1), footer .footer__contacts a:nth-child(2) {
    opacity: 1;
  }
}
@media (max-width: 460px) {
  header::after {
    display: none;
  }
  .content .content__main {
    margin-left: 50px;
  }
  .content__main .main__title {
    margin-left: 50px;
  }
  .content__main .main__contact-to-us .contact-to-us__icon {
    transform: translateY(-20%) translateX(-30%) scale(0.6);
  }
  .overlay-mobile-nav {
    box-sizing: border-box;
  }
  .overlay-mobile-nav .overlay-column {
    padding: 20px;
  }
  .overlay-mobile-nav .burger__overlay.active {
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
  }
}
@media (max-width: 400px) {
  :root {
    --size-links: 16px;
    --size-logo: 23px;
    --size-h1: 34px;
    --size-h2: 23px;
  }
  .content__main .main__title {
    margin-left: 0px;
  }
  .content__main .main__title h1 {
    line-height: 45px;
    text-align: center;
  }
  .header__toogle {
    display: none;
  }
  .header__burger {
    margin-left: auto;
  }
  .content__cases .caces__row h2,
  .content__cases .caces__row p {
    font-size: 16px;
  }
  main .content {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content__about .about__column:last-child .column__row:last-child {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}/*# sourceMappingURL=mobile.css.map */