.modal-album-info .modal-info-card .modal-title {
    text-transform: uppercase;
}

.modal-album-info .modal-info-card .modal-descr {
    opacity: .6;
    padding-bottom: 20px;
}

.modal-field-wrap {
    width: 800px;
}

.modal-field-item {
    width: auto;
}

.modal-field-item img {
    width: 400px;
}

@media (max-width: 820px) {
    .modal-field-wrap {
        width: 90%;
    }
}